html {
    scroll-snap-type: both mandatory;
    scroll-snap-stop: always;
}

.about {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.about h1 {
    text-align: center;
}

.about1 {
    scroll-snap-align: start;
    background: url(../assets/agoraaboutfinal.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.about2 {
    scroll-snap-align: start;
    background: url(../assets/agoraabout2_new1.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.aboutFlexArticle1 {
    height: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutFlexArticle2 {
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    scroll-snap-align: start;
}

@media all and (max-width: 1030px) {
    .aboutFlexArticle1 {
        margin-top: 3em;
    }

    .aboutFlexArticle2 {
        margin-top: 3em;
    }
}

@media (orientation: landscape) and (max-height: 680px){
    .aboutFlexArticle1 {
        height: 60%;
        font-size: .9em;
    }

    .aboutFlexArticle2 {
        height: 80%;
        font-size: .9em;
    }
}

@media (orientation: landscape) and (max-height: 580px){
    .aboutFlexArticle1 {
        height: 60%;
        font-size: .8em;
    }

    .aboutFlexArticle2 {
        height: 80%;
        font-size: .8em;
    }
}

@media (orientation: landscape) and (max-height: 450px){
    .aboutFlexArticle1 {
        height: 55%;
    }

    .aboutFlexArticle2 {
        height: 90%;
    }
}