body {
    background: url(../assets/ag_street2.jpg) no-repeat center center fixed;
    background-size: cover;
}

h2 {
    color: whitesmoke;
    margin-top: 0px;
}

.loginMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.loginMain form {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: rgba(24, 24, 24, 0.95);
    border-radius: .5em;
    padding: 2em;
    padding-top: 3em;
}

input {
    margin: .5em;
    padding: .5em;
}

.loginMain a {
    color: whitesmoke;
    font-weight: 300;
    margin-bottom: 1.5em;
}

.loginMain a:hover {
    color: #995485;
    text-decoration: underline;
}

#enterButton {
    color: whitesmoke;
    padding: .5em 1em;
    border-radius: .2em;
    margin-top: 1em;
    margin-bottom: 4em;
    background-color: rgb(88, 88, 88);
}

#enterButton:hover {
    text-decoration: none;
    background-color: #995486;
    transition: ease-in .13s;
}

p {
    color: whitesmoke;
    font-size: .9em;
    font-weight: 300;
    margin-top: 2em;
    padding: 0px;
}

#hiddenText {
    display: none;
}